#login {
    display: flex;
    flex-wrap: wrap;
    max-width: 970px;
    margin: auto;
    margin-top: 10vh;
}
#login input, button {
    flex: 8 80%;
    padding: 10px;
    margin: 10px 10px;
    border-radius: 10px;
}

#login input[type="radio"] {
    flex: 1 10%;
}

#login label {
    flex: 3 30%;
}

#login .break {
    text-align: center;
}
