body {
    padding: 0 !important;
    margin: 0 !important;
    font-family: 'Ubuntu', sans-serif;
}

a:link, a:visited, a:hover
{
    color: #fff;
    text-decoration: none;
}

.content {
    background: rgb(248,177,254);
    background: linear-gradient(156deg, rgba(248,177,254,1) 0%, rgba(224, 150, 242,1) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    top:0;
    bottom: 0;
    height: 100vh;
}

.content a {
    display: contents;
}

.language {
    background-color: rgba(47, 51, 48, 0.4);
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    font-weight: 500;
    margin-top: 30vh
}

.heart{
    position: absolute;
    width: 100px;
    height: 90px;
    float: left;
    display: none;
}
.heart:nth-child(1n) {
    left: 10vw;
}
.heart:nth-child(2n) {
    left: 60vw;
}

.heart:before,
.heart:after{
    position: absolute;
    content: "";
    left: 50px;
    top: 0;
    width: 50px;
    height: 80px;
    background: #fc2e5a;
    -moz-border-radius: 50px 50px 0 0;
    border-radius: 50px 50px 0 0;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
    transform-origin: 0 100%;
}
.heart:after{
    left: 0;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: 100% 100%;
    -moz-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    -o-transform-origin: 100% 100%;
    transform-origin :100% 100%;
}

.heart .text {
    color: #000;
    font-size: 14px;
    position: relative;
    z-index: 10000;
    margin: auto;
    width: fit-content;
    top: 20px;
    font-weight: 600;
}

.content-love {
    position: absolute;
    bottom: -30vh;
    left: 25vw;
}


.heart-big{
    position: absolute;
    width: 100px;
    height: 90px;
    float: left;
    display: none;
}
.heart-big:before,
.heart-big:after{
    position: absolute;
    content: "";
    left: 50px;
    top: 0;
    width: 50px;
    height: 80px;
    background: #fc2e5a;
    -moz-border-radius: 50px 50px 0 0;
    border-radius: 50px 50px 0 0;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
    transform-origin: 0 100%;
}
.heart-big:after{
    left: 0;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: 100% 100%;
    -moz-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    -o-transform-origin: 100% 100%;
    transform-origin :100% 100%;
}

.heart-big .text {
    color: #000;
    font-size: 18px;
    position: relative;
    z-index: 10000;
    margin: auto;
    width: fit-content;
    top: 20px;
    font-weight: 600;
}



.heart-big {
    display: none;
    left: 12vw;
    transform: scale(3.5);
}
