body{
    background-color: #222233;
    padding: 0;
    margin: 0;
    color: #ffffff;
    color: #fc2e5a;

}
body {
    font-family: 'Oswald', sans-serif;
}

h2 {
    text-align: center;
    color: #fc2e5a;

}
.container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30vh;
    width: 320px;
    height: 290px;
    line-height: 0.75;
    transition: all 5s;
    -webkit-mask-image: url(heart.png);
    mask-image: url(heart.png);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    background-color: #fc2e5a;
    position: relative;
}

.place {
    -webkit-mask-image: url(heart.png);
    mask-image: url(heart.png);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    width: 320px;
    height: 290px;
    transform: scale(0.20);
    background-color: #222233;
    position: absolute;
}

.place:hover {
    cursor: pointer;
}

