body {
    font: 1em sans-serif;
    text-align: center;
    background: #381c74;
    color: #fff;
}
a {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
}
.container {
    display: flex;
    flex-flow: column;
    margin-left: auto;
    margin-right: auto;
    gap: 3vh;
}
.element {
    border: 2px solid #a22cb4;
    padding: 30px;
    border-radius: 10px;
}
.text-container {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #5a3e96;
    display: none;
}
.back {
    padding-bottom: 10px;
    border-bottom: 2px solid #381c74;
}
.text {
    text-align: center;
    margin-top: 20px;
    padding:0 30px;
    font-size:1.5rem;
    height: 100vh;
}

.title {
    font-size: 2.4rem;
    font-weight: bold;
}
